*{
	margin:0px auto;
	padding:0px;
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
body{
	padding: 0px;
	margin: 0px;
	background-image:url(../images/beijing.jpg);
}
a{
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	line-height: 30px;
}
.header{
	width:100%;
	height:164px;
	background-position:center;
	background-color: #600;}
.nav{
	width:100%;
	height:40px;
    background-color: #900;}
.nav_content li{
	list-style:none;
	margin-right: 15px;
	padding:0px;
	float:left;
	color: #fff;
	text-align: center;
	}
.nav_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;
	padding-left: 180px;}
.nav_content a{
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;}
.nav_search{
	width:200px;
	float:left;
	padding:10px 0;}
.search{
	width:150px;
	height:19px;
	float:left;
	border:1px solid #FFF;
	background-color:#f8f5ee;}
.search_btn{
	width:44px;
	height:21px;
	float:left;
	background-color:#000;
	border:1px solid #f8f5ee;
	color:#FFF;}
	.footer{
	margin-top: 100px;
	clear:left;
	text-align: center;
	position:relative;
	top:10px;
	
}
.content{
	width:1000px;
}
.mianbao{
	clear:left;
	color:#900;
	padding-top: 30px;
}
.center{
	margin:10px;
	text-align: center;
}
.hr{
	margin-bottom: 30px;
}
p{
	text-indent: 2em;
	line-height:30px;
}
.three{
	width:1000px;
	color:#aaa;
	height:30px;
	font-weight: bold;
	font-size: 28px;
}
.footer a{
	margin:10px;
}
.four{
	margin-top: 20px;
	width:1000px;
}
.five{
	margin-top: 10px;
}
.six{
	margin-top: 200px;
}

